<li id="home-link" data-hook><%= link_to t(:home), root_path %></li>
<li><a href="/t/categories/clothing">Clothing</a></li>
<li><a href="/t/categories/bags">Bags</a></li>
<li><a href="/t/categories/mugs">Mugs</a></li>
<li id="link-to-cart" data-hook><%= link_to_cart %></li>
